body {
    background-color: bisque;
}

img {
    width: 150px;
    height: 150px;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

.container {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

div {
    font-size: 20px;
}

button {
    padding: 10px 30px;
    border-radius: 10px;
    background-color: #D0B8A8;
    color: aliceblue;
    font-size: 20px;

}